:root{
    --cell-size: 20px;
    --offset: 0px;
    --head-color: #0c0;
    --tail-color: green;
    --fruit-color: red;
    --bg: #111;
    --menu-bg: #333;
    --menu-text-color: #eee;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}

.board{
    background: #111;
    position: relative;
}

.peice{
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    left: -1000px;
    top: -1000px;
    --offset: 2px;
    --offsetted-size: calc(var(--cell-size) - var(--offset) * 2);
}

.head{
    background: var(--head-color);
    --offset: 0px;
}

.head img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.looking-up{
    transform: rotate(180deg);
}

.looking-down{
    transform: rotate(0deg);
}
.looking-left{
    transform: rotate(90deg);
}

.looking-right{
    transform: rotate(-90deg);
}

.tail{
    background: var(--tail-color);
}


.tail:nth-last-of-type(2),
.tail:last-of-type{
    --offset: 4px;
}

.straight-vert{
    width: var(--offsetted-size);
    transform: translateX(var(--offset));
}

.straight-horiz{
    height: var(--offsetted-size);
    transform: translateY(var(--offset));
}

.turn{
    width: var(--offsetted-size);
    height: var(--offsetted-size);
    transform: translate(var(--offset), var(--offset));
}

.connect-upa::after{
    content: '';
    position: absolute;
    width: var(--offsetted-size);
    height: var(--offset);
    transform: translateY(calc(-1 * var(--offset)));
    background: var(--tail-color);
}

.connect-downa::after{
    content: '';
    position: absolute;
    width: var(--offsetted-size);
    height: var(--offset);
    transform: translateY(var(--offsetted-size));
    background: var(--tail-color);
}

.connect-lefta::after{
    content: '';
    position: absolute;
    width: var(--offset);
    height: var(--offsetted-size);
    transform: translateX(calc(-1 * var(--offset)));
    background: var(--tail-color);
}

.connect-righta::after{
    content: '';
    position: absolute;
    width: var(--offset);
    height: var(--offsetted-size);
    transform: translateX(var(--offsetted-size));
    background: var(--tail-color);
}

.connect-upb::before{
    content: '';
    position: absolute;
    width: var(--offsetted-size);
    height: var(--offset);
    transform: translateY(calc(-1 * var(--offset)));
    background: var(--tail-color);
}

.connect-downb::before{
    content: '';
    position: absolute;
    width: var(--offsetted-size);
    height: var(--offset);
    transform: translateY(var(--offsetted-size));
    background: var(--tail-color);
}

.connect-leftb::before{
    content: '';
    position: absolute;
    width: var(--offset);
    height: var(--offsetted-size);
    transform: translateY(calc(-1 * var(--offset)));
    background: var(--tail-color);
}

.connect-rightb::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 16px;
    transform: translateX(16px);
    background: var(--tail-color);
}

.fruit{
    background: var(--fruit-color);
    width: 14px;
    height: 14px;
    transform: translate(3px, 3px);
}

.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    background: var(--menu-bg);
    color: var(--menu-text-color);
    padding: 10px;
    z-index: 2;
    text-align: center;
}

.menu .button{
    width: 100%;
}

.grid{
    display: grid;
    grid-auto-rows: 1fr; /* Make every row the same height */
    grid-template-columns: repeat(2, 1fr);
}

input{
    margin: auto;
}

.score{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    color: var(--menu-text-color);
}

button {
    margin-top: 10px;
}
